<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Машины</title>
</head>
<body>
<div>

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Госномер</th>
            <th scope="col">Тип</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${carlist}">
            <td th:text="${car.model}"></td>
            <td th:text="${car.serial}"></td>
            <td th:text="${car.type}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>